body {
    background-color: darkturquoise;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    background-color: aqua;
}

#show_sketch {
    float: right;
}

#sketch_name {
    color: crimson;
}

#score {
    font-size: 30px;
    margin-left: 20px;
}

#time {
    margin-right: 20px;
    font-size: 30px;
    float: right;
}

p,
span {
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px grey;
    }
    to {
        box-shadow: 1px 1px 38px white;
    }
}